#accordion a{
    text-decoration: none;
}

th,td{
    text-align: center;
}

td ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

textarea{
    resize:none;
}

.input-group-addon{
    width: 30%;
}

.input-group,.radio{
    margin: 10px auto;
}

.panel-group{
    text-align: center;
}

#updatePackInfo,
#insertPackInfo{
    float: right;
}

#deletePackInfo{
    float: left;
}

select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    /*background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll rightright center transparent;*/
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}

